# Packages for Functional Programming

## 1. `operator` module

In [1]:
from functools import reduce

def factorial(n):
    return reduce(lambda a, b: a*b, range(1, n+1))

In [2]:
factorial(5)

120

### Alternatively, with operator

In [3]:
from functools import reduce
from operator import mul

def factorial(n):
    return reduce(mul, range(1, n+1))

In [4]:
factorial(5)

120

### `itemgetter`

In [5]:
metro_data = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [6]:
from operator import itemgetter

for city in sorted(metro_data, key=itemgetter(1)):   #sorts the tuples by the 1 column => domain code
    print(city)

('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
('Mexico City', 'MX', 20.142, (19.433333, -99.133333))
('New York-Newark', 'US', 20.104, (40.808611, -74.020386))

In [7]:
zipcode_name = itemgetter(1, 0)
for city in metro_data:
    print(zipcode_name(city))

('JP', 'Tokyo')
('IN', 'Delhi NCR')
('MX', 'Mexico City')
('US', 'New York-Newark')
('BR', 'Sao Paulo')

In [8]:
import operator

[name for name in dir(operator) if not name.startswith('_')]

['abs',
 'add',
 'and_',
 'attrgetter',
 'concat',
 'contains',
 'countOf',
 'delitem',
 'eq',
 'floordiv',
 'ge',
 'getitem',
 'gt',
 'iadd',
 'iand',
 'iconcat',
 'ifloordiv',
 'ilshift',
 'imatmul',
 'imod',
 'imul',
 'index',
 'indexOf',
 'inv',
 'invert',
 'ior',
 'ipow',
 'irshift',
 'is_',
 'is_not',
 'isub',
 'itemgetter',
 'itruediv',
 'ixor',
 'le',
 'length_hint',
 'lshift',
 'lt',
 'matmul',
 'methodcaller',
 'mod',
 'mul',
 'ne',
 'neg',
 'not_',
 'or_',
 'pos',
 'pow',
 'rshift',
 'setitem',
 'sub',
 'truediv',
 'truth',
 'xor']

### `methodcaller`

In [9]:
from operator import methodcaller

s = 'The time has come!'
upcase = methodcaller('upper')
upcase(s)

'THE TIME HAS COME!'

In [10]:
#replace 'whitespace' with '@'
hiphenate = methodcaller('replace', ' ', '@') 
hiphenate(s)

'The@time@has@come!'

## 2. `functools.partial` (partial application of a function)

In [11]:
from functools import partial
from operator import mul

triple = partial(mul, 3)
triple(7)

21

In [12]:
list(map(triple, range(1, 10)))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [13]:
import unicodedata, functools

nfc = functools.partial(unicodedata.normalize, 'NFC')

s1 = 'café'
s2 = 'cafe\u0301'
s1, s2

('café', 'café')

In [14]:
s1 == s2

False

In [15]:
nfc(s1) == nfc(s2)

True

### Understanding Check

In [16]:
def user(first_name, last_name):
    full_name = first_name + ' ' + last_name
    return full_name.title()

definition = functools.partial(user, 'khojiakbar')
definition('isomiddinov')

'Khojiakbar Isomiddinov'

In [17]:
def multiplier(a, b):
    return a * b

table = functools.partial(multiplier, 5)
table(8)

40