# Tuples Are Not Just Immutable Lists

## 1. Tuples as Records

In [1]:
#Запись данных в архив
lax_coordinates = (33.9425, -118.408056)
city, year, population, change, area = ('Tokyo', 2003, 32450, 0.66, 8014)

In [2]:
traveller_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

for passport in sorted(traveller_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [3]:
traveller_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

for country, _ in traveller_ids:
    print(country)

USA
BRA
ESP

## 2. Tuple Unpacking

In [4]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates  #tuple unpacking

print(latitude)
print(longitude)

33.9425
-118.408056

In [5]:
#prefixing a parameter with a * when calling a function
#divmod() (quotient, remainder)

divmod(20, 8)

(2, 4)

In [6]:
#tuple arbitrary number argument assignment
t = (20, 8)
divmod(*t)

(2, 4)

In [7]:
t = (20, 8)
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [8]:
import os
_, filename = os.path.split(r'C:\Users\khoji\LEARNING\1_python\2_fluent_python\02_array_of_sequences\02_tuples.ipynb')
filename

'02_tuples.ipynb'

### 2.1 Using * to grab excess items

In [9]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [10]:
a, b, *rest = range(3)
a, b , rest

(0, 1, [2])

In [11]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [12]:
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [13]:
*head, c, d = range(5)
head, c, d

([0, 1, 2], 3, 4)

## 3. Nested Tuple Unpacking

In [14]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)), 
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

for name, cc, population, (latitude, longitude) in metro_areas:
    print('{:15} | {:^9} | {:^9}'.format(name, latitude, longitude))

Tokyo           | 35.689722 | 139.691667
Delhi NCR       | 28.613889 | 77.208889
Mexico City     | 19.433333 | -99.133333
New York-Newark | 40.808611 | -74.020386
Sao Paulo       | -23.547778 | -46.635833

## 4. Named Tuples

In [15]:
from collections import namedtuple

#City in the namedtuple() is the name
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [16]:
tokyo.population

36.933

In [17]:
tokyo.coordinates

(35.689722, 139.691667)

In [18]:
tokyo[1]

'JP'

In [19]:
City._fields

('name', 'country', 'population', 'coordinates')

## 5. Tuples as Immutable Lists